body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 60px 20px;
}

header h1 {
    font-size: 40px;
}

section {
    background-color: white;
    max-width: 800px;
    margin: 25px auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 8px #ccc;
}

h2 {
    color: #0077cc;
}

li {
    margin: 10px;
}
